@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');

*, *::before, *::after {
    font-family: "Nova Round", sans-serif;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #AEDBF0, #FAFEFF);
}

#calculator {
    display: grid;
    grid-template-columns: repeat(4, 100px);    
    grid-template-rows: minmax(120px, auto) repeat(6, 100px);  
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    gap: 5px;
    margin-bottom: 2rem;
}

#calculator > button {   
    border: none;
    background: rgba(255, 255, 255, .75);
    cursor: pointer;
    font-size: 2rem;
    transition: all .5s;    
}

#calculator > button:hover {
    background: rgba(174, 219, 240, .9);
    color: #fff;
}

#calculator .display_bar {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    align-items: flex-end;
    background: #3F7EB3;
    color: rgba(255, 255, 255, 0.75);
    word-wrap: break-word;
    word-break: break-all;
}

#calculator .display_bar .result {
    font-size: 1.4rem;
} 

#calculator .display_bar .input {
    font-size: 2rem;
}

.double {
    grid-column: span 2;
}

#footer {
    text-align: center;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.75);
    background: #3F7EB3;
    padding: 1rem;
}

